.loading-animation{
    font-size: 30px;
    animation-duration: 2.5s;
    animation-name: loading;

}

@keyframes loading {
    0%{
        font-size: 30px;
    }
    25%{
        font-size: 38px;
    }
    50%{
        font-size: 30px;
    }
    75%{
        font-size: 38px;
    }
    100%{
        font-size: 30px;
    }
}