@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   overflow-x: hidden;
   background: #f5f5f5;
}

.rr{
  border: 2px solid red; 
}
.gg{
  border: 2px solid rgb(0, 255, 55);
}
.bb{
  border: 2px solid rgb(38, 0, 255);
}

.profile-input-border{
   border : 2px solid gray;
   border-radius: 30px;
}



.box-shadow-navbar{
  
box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}